.homediv
{
    background-color: white;
    height: 600px;
    
}

.centereddiv
{
    height:  100px;
    background-color: white;
}


.centereddiv1
{
    height:  100px;
    background-color: azure;
}